
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>


</head>

<body class="text-center">

<!-- Material form register -->
<form>
    <p class="h4 text-center mb-4">Sign up</p>

    <!-- Material input text -->
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="empId" class="form-control">
        <label for="empId">사번</label>
    </div>
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="empNm" class="form-control">
        <label for="empId">이름</label>
    </div>
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="svcNo" class="form-control">
        <label for="empId">전화번호</label>
    </div>

    <!-- Material input password -->
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="passwd" id="materialFormRegisterPasswordEx" class="form-control">
        <label for="materialFormRegisterPasswordEx">비밀번호</label>
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-primary" type="submit">등록</button>
    </div>
</form>
<!-- Material form register -->


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.css" >
<!-- Custom styles for this template -->
<link href="/css/login.css" rel="stylesheet">


<script src="/webjars/jquery/3.0.0/jquery.min.js" ></script>
<script src="/webjars/popper.js"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>
