
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Offcanvas template for Bootstrap</title>


</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-0" href="#"></a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">User <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Account</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
            <small>Since 2011</small>
        </div>
    </div>

    <div>
        <h3 class="border-bottom border-gray pb-2 mb-0">User List33</h3>
            <!--Table-->
            <table class="table table-hover">

                <!--Table head-->
                <thead>
                <tr>
                    <th>No</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Tel No</th>
                    <th>Fail Cnt</th>
                    <th>Last Login Time</th>
                    <th>Life Time</th>
                    <th>Locked</th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr th:each="user : ${users}">
                    <th th:text="${user.empSeq}">empSeq</th>
                    <td th:text="${user.empId}">empId</td>
                    <td th:text="${user.empNm}">empNm</td>
                    <td th:text="${user.svcNo}">svcNo</td>
                    <td th:text="${user.failCnt}">failCnt</td>
                    <td th:text="${user.lastLoginTime}">lastLoginTime</td>
                    <td th:text="${user.lifeDateStart}">life Date</td>
                    <td th:text="${user.isCountLock}">isCountLock</td>
                </tr>

                </tbody>
                <!--Table body-->

            </table>
            <!--Table-->
        <small class="d-block text-right mt-3">
            <a href="#">refreshed.</a>
        </small>
    </div>






</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="/css/grid.css" >
<link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.css" >

<script src="/webjars/jquery/3.0.0/jquery.min.js" ></script>
<script src="/webjars/popper.js"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>



